* {
  background-color: #ffffff;
}

.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  height: 100vh;
}

.container {
  margin: 20px 0;
}

.dados {
  display: flex;
  justify-content: center;
  gap: 40px;
}